@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/*////////// base styles //////////*/
* {
    max-width: 100%;
    min-width: fit-content;
    font-family: "Quicksand";
}

.pokemon-list {
    margin: 40px;
    margin-top: 20px;
}

.pokemon-preview {
    padding: 5px;
}

.pokemon-title {
    text-transform: capitalize;
}

.ScrollUp {
    cursor: pointer;
    color: rgb(143, 140, 140);
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}