@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Staatliches&display=swap');


/*////////// base styles //////////*/
* {
    max-width: 100%;
    min-width: fit-content;
    font-family: "Quicksand";
    text-align: center;
    margin-top: 5px;
    background-color: #ececec;
}

h1 {
    margin-bottom: 30px;
    font-family: 'Staatliches', cursive;
    font-size: 100px;
}

.pokemon-list {
    margin: 40px;
    margin-top: 20px;
}

.pokemon-preview {
    padding: 5px;
}

.pokemon-preview .card {
    width: 14rem;
}

.pokemon-preview div,
img {
    background-color: white;
}

.pokemon-preview .card:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}


.pokemon-title {
    text-transform: capitalize;
}


.ScrollUp {
    cursor: pointer;
    color: gray;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
}

.error-alert {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.alert-heading {
    background-color: #f8d7da;
}

.fade {
    max-width: fit-content;
    position: fixed;
    top: 10px;
    right: 10px;
}

.fade p {
    background-color: #f8d7da;
}

.btn {
    position: fixed;
    top: 10px;
    right: 10px;
}

.search-bar {
    max-width: 50%;
    margin: auto;
}

/* ///// media querries ////// */

@media screen and (min-width: 200px) and (max-width: 640px) {
    h1 {
        font-size: 80px;
    }

    .h5 {
        font-size: 0.8rem;
    }

    .pokemon-preview .card {
        width: 9rem;
    }
}